importFrom("graphics", "abline", "box", "mtext", "par", "plot",
        "points", "rasterImage", "text")
importFrom("png", "readPNG")
importFrom("shiny", "actionButton", "modalButton", "modalDialog",
        "observeEvent", "p", "reactiveValues", "removeModal", "renderPlot",
        "renderText", "shinyApp", "showModal", "showNotification",
        "tagList", "textInput")
importFrom("stats", "lm", "predict")
importFrom("utils", "head")

export(imager)

